#root {
    background-color: blue;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#app {
    height: 100%;
    width: 100%;
    background-color: rgb(154, 177, 152);
    top: 0px;
    left: 0px;
    position: absolute;
}

*:hover {
    cursor: default;
}

button:hover {
    cursor: grab;
}