#root {
    background-color: blue;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#app {
    height: 100%;
    width: 100%;
    background-color: inherit;
    top: 0px;
    left: 0px;
    position: absolute;
}

*:hover {
    cursor: default;
}

button:hover {
    cursor: grab;
}

.page {
    height: calc(100% - 60px);
    top: 60px;
    position: absolute;
    width: 100%;
}