#home {
    height: calc(100% - 60px);
    top: 60px;
    position: absolute;
    width: 100%;
}

#home > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px !important;
}

#select-label {
    text-align: center;
    margin-bottom: 0px;
}

#crib-div {
    background-image: linear-gradient(rgb(110, 85, 59), rgb(75, 55, 33));
    width: 210px;
    height: 80px;
    border-radius: 5px;
    border: 5px solid rgb(145, 0, 0);
    top: 20px;
    position: relative;
    padding: 5px;
}

#crib-div > * {
    text-align: center;
    height: 35px;
    margin: 5px;
}

.your-crib {
    color: green;
}
.their-crib {
    color: rgb(207, 22, 22);
}

#cards-div {
    width: 580px;
    height: 140px;
    background-color: rgb(47, 79, 42);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 30px;
    border: 5px solid rgb(34, 57, 31);
    margin-top: 0px !important;
}

.card {
    height: 120px;
    width: 80px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(212, 212, 212));
    border-radius: 5px;
    border: 3px solid rgb(145, 0, 0);
    font-weight: 900;
    
}

.card:hover {
    cursor: grab;
}

.card > *:hover {
    cursor: grab;
}

.card > h4 {
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
    margin-bottom: 20%;
    color: inherit;
}

.red {
    color: rgb(245, 0, 0);
}

.black {
    color: black;
}

.selected {
    border-style: dashed;
}

@media screen and (max-width: 650px) {

    #cards-div {
        width: 340px;
        height: 100px;
        position: relative;
        left: calc(50% - 188px) !important;
        gap: 5px;
    }

    .card {
        width: 50px;
        height: 75px;
    }

    .card > h4 {
        font-size: 25px;
    }
}

#submit-btn {
    height: 50px;
    width: 140px;
    position: relative;
    left: calc(50% - 70px);
    border: 3px solid rgb(34, 57, 31);
    border-radius: 10px;
    font-family: inherit;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(76, 168, 76);
    background-image: linear-gradient(rgb(106, 189, 106), rgb(76, 168, 76));
    
}