
#home > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px !important;
}

#leaderboard-btn {
    height: 50px;
    width: 50px;
    background-color: rgba(134, 159, 131, 0);
    border: 0px;
    border-radius: 30px;

    position: absolute;
    right: 10px;
    top: -45px;
}

#leaderboard-btn > img {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    object-fit: contain;
}

#leaderboard-btn > img:hover {
    cursor: grab;
}

#select-label {
    text-align: center;
    margin-bottom: 0px;
}

#crib-div {
    width: 210px;
    height: 80px;
    border-radius: 5px;
    border: 0px solid rgb(145, 0, 0);
    top: 20px;
    position: relative;
    padding: 5px;
}

#crib-div > * {
    text-align: center;
    height: 25px;
    margin: 5px;
    font-weight: 900;
}

.your-crib {
    color: green;
}
.their-crib {
    color: rgb(207, 22, 22);
}

.cards-div {
    width: 580px;
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#home-cards-div {
    border-radius: 30px;
    border: 10px solid;
    margin-top: 0px !important;
    z-index: 3;
}

.card {
    height: 120px;
    width: 80px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(212, 212, 212));
    border-radius: 5px;
    border: 3px solid rgb(145, 0, 0);
    font-weight: 900;
    
}

.large-cards-div {
    width: 580px;
    height: 140px;
}

.med-cards-div {
    width: 500px;
    height: 110px;
}

.small-cards-div {
    width: 370px;
    height: 80px;
}

.large-cards-div > .card {
    height: 120px;
    width: 80px;
}

.med-cards-div > .card {
    height: 92px;
    width: 69px;
}

.small-cards-div > .card {
    height: 60px;
    width: 45px;
}

.small-cards-div > .card > h4 {
    font-size: 25px;
}

#home-card-div > .card:hover {
    cursor: grab;
}

#home-card-div > .card > *:hover {
    cursor: grab;
}

.card > h4 {
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 10%;
    font-size: 35px;
    margin-bottom: 20%;
    color: inherit;
}

.red {
    color: rgb(245, 0, 0);
}

.black {
    color: black;
}

.selected {
    border-style: dashed;
}

#cards-sort-btn {
    height: 22px;
    width: 80px;
    position: relative;
    left: calc(50% - 40px);
    border: 0px solid rgb(34, 57, 31);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    top: -61px !important;
    background-color: rgb(28, 49, 26);
    z-index: 1;
}

#submit-btn {
    left: calc(50% - 140px);
    top: 20px;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    border: 0px;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(28, 49, 26);
}

@media screen and (max-width: 650px) {

    #crib-div {
        top: -20px;
        margin-bottom: -50px;
    }

    #select-label {
        font-size: 18px;
    }

    #home-cards-div {
        width: 360px;
        height: 95px;
        position: relative;
        left: calc(50% - 190px) !important;
        border-radius: 10px;
    }

    .cards-div {
        gap: 2.5px;
        padding: 0px;
    }

    .large-cards-div > .card {
        width: 55px;
        height: 80px;
    }

    .large-cards-div > .card > h4 {
        font-size: 30px;
    }

    .med-cards-div > .card {
        width: 50px;
        height: 75px;
    }

    .med-cards-div > .card > h4 {
        font-size: 30px;
    }

    .med-cards-div {
        height: 90px;
        width: 345px;
        margin-bottom: 10px;
    }

    #cards-sort-btn {
        height: 30px;
        width: 100px;
        left: calc(50% - 50px);
        font-size: 18px;
        top: -60px !important;
    }

    .small-cards-div {
        height: 60px;
        width: 155px !important;
        position: relative;
    }

    .small-cards-div > .card {
        height: 55px;
        width: 37px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 12.5px;
    }

    .small-cards-div > .card > h4 {
        font-size: 20px;
    }

    
    #submit-btn {
        left: calc(50% - 160px);
    }
}