#round-summary {
    position: absolute;
    height: 800px;
    width: 700px;

    background-color: rgb(48, 80, 43);
    border-radius: 30px;
    border: 5px solid rgb(27, 50, 23);

    top: calc(50% - 460px);
    left: calc(50% - 350px);

}

#round-summary > * {
    position: relative;
}

#round-summary > h1 {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    top: 0px;
}

#round-summary > h2 {
    width: 100%;
    text-align: center;
    color: black;
    top: -20px;
}

#rs-initial-hand-div {
    top: -45px;
}

#rs-plr-summaries-div {
    width: calc(100% - 10px);
    left: 5px;
    height: 480px;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rs-summary-div {
    background-color: rgb(27, 50, 23);
    border: 0px;
    height: 100%;
    width: calc(50% - 5px);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    color: white;
}

.rs-plr-label {
    width: 100%;
    text-align: center;
    top: -10px;
    position: relative;
}

.rs-crib-div {
    width: 120px;
    top: -25px;
    position: relative;
    padding: 0px;
}

.rs-threw-label {
    width: 100%;
    text-align: center;
    position: relative;
    top: -50px;
    color: black;
    margin-bottom: -30px;
}

.points-list {
    color: black;
    list-style: none;
}

.points-list > li {
    margin-left: -35px;
    width: calc(100% + 30px);
    margin-bottom: 25px;
}

.point-combo-div > .card {
    margin-right: -30px;
}

.point-combo-div {
    margin-top: 0px;
    height: 45px;
    width: 160px;
    justify-content: left;
    left: 0px;
    position: relative;
    margin-left: 0px;
    color: inherit;
    font-weight: inherit;
}

.type-of-point-label {
    width: 100px;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: -5px;
}

.point-count-label {
    margin-right: 0px;
    right: 0px;
    position: relative;
    width: 50px;
    float: right;
    margin: 0px;
    margin-top: -25px;
    text-align: right;
}

.rs-summary-evaluation-div {
    border: 2px solid white;
    width: calc(100% - 24px);
    left: 0px;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

.rs-summary-evaluation-div > .cards-div {
    width: calc(100% - 30px);
    height: 50px;
}

.total-li {
    color: white;
}

.score-label {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
}

#accuracy-rating-label {
    height: 25px;
    width: 100%;
    color: white;
    position: relative;
    top: -97.5px !important;
    text-align: center;
    color: black !important;
    font-weight: bolder;
    font-size: 15px;
    z-index: 5;
}

#accuracy-percentage-label {
    background-color: rgb(42, 74, 37);
    top: -75px !important;
    font-size: 50px;
    position: relative;
    height: 55px;
    line-height: 55px;
}

#round-sum-continue-btn {
    height: 35px;
    width: 120px;
    border: 0px;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: -117.5px;
    left: calc(50% - 60px);
    color: white;
    background-color: rgb(76, 168, 76);
    background-image: linear-gradient(rgb(106, 189, 106), rgb(76, 168, 76));
}

@media screen and (max-width: 650px) {
    #round-summary {
        height: 450px;
        width: 350px;
    
        top: calc(50% - 285px);
        left: calc(50% - 185px);
    
        border-radius: 10px;
        padding: 5px;
    }

    .rs-threw-label {
        font-size: 20px;
    }

    #round-summary > h1 {
        position: relative;
        top: -20px;
    }

    #round-summary > h2 {
        position: relative;
        top: -45px;
    }

    #rs-initial-hand-div {
        position: relative;
        top: -70px;
    }

    .rs-summary-div {
        height: 245px;
        position: relative;
        top: -145px;
    }

    .rs-summary-evaluation-div > .cards-div {
        position: relative;
        left: -7.5px;
    }

    .rs-summary-evaluation-div > .cards-div > .card {
        margin: -10px;
    }

    .point-combo-div {
        margin-left: 10px;
    }

    .point-combo-div > .card {
        margin: -10px;
    }


    .rs-summary-evaluation-div {
        position: relative;
        top: -15px;
    }

    .rs-summary-evaluation-div > h2 {
        font-size: 20px;
        margin-left: -5px;
        margin-right: -5px;
        text-align: center;
    }

    .rs-summary-div > .rs-plr-label {
        margin-top: 15px;
    }

    .rs-summary-div > .rs-threw-label {
        margin-top: 25px;
    }

    .score-label {
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
    }

    #round-sum-continue-btn {
        position: relative;
        top: -410px;
        float: right;
        left: 0px;
    }

    #accuracy-rating-label {
        position: relative;
        top: -385px !important;
        width: 200px;
        text-align: left;
        
    }

    #accuracy-percentage-label {
        position: relative;
        top: -315px !important;
        height: 40px;
        line-height: 40px;
        width: 150px !important;
        text-align: left !important;
        left: 0px;
        font-size: 35px;
        background-color: rgba(0, 0, 0, 0);
    }

}