
.default { background-color: rgb(154, 177, 152) !important; }

.default * .primary { background-color: rgb(28, 49, 26) !important; }
.default > .primary { background-color: rgb(28, 49, 26) !important; }

.default * .primary-border { border-color: rgb(28, 49, 26) !important; }

.default * .secondary { background-color: rgb(47, 79, 42) !important; }

.default * .font-primary { color: rgb(5, 5, 8) !important; }
.default > .font-primary { color: rgb(5, 5, 8) !important; }

.default * .font-secondary { color: rgb(248, 248, 245) !important; }
.default > .font-secondary { color: rgb(248, 248, 245) !important; }

