@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;600&family=Trispace:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;600&family=Trispace:wght@500&display=swap');

.default { background-color: rgb(154, 177, 152) !important; }

.default * .primary { background-color: rgb(28, 49, 26) !important; }
.default > .primary { background-color: rgb(28, 49, 26) !important; }

.default * .primary-border { border-color: rgb(28, 49, 26) !important; }

.default * .secondary { background-color: rgb(47, 79, 42) !important; }

.default * .font-primary { color: rgb(5, 5, 8); font-family: 'Times New Roman', Times, serif; }
.default > .font-primary { color: rgb(5, 5, 8); font-family: 'Times New Roman', Times, serif; }

.default * .font-secondary { color: rgb(248, 248, 245) !important; font-family: 'Times New Roman', Times, serif }
.default > .font-secondary { color: rgb(248, 248, 245) !important; font-family: 'Times New Roman', Times, serif}



.sky { background-color: rgb(153, 211, 224) !important; background-image: url("../images/clouds.png"); background-position: center; background-size: contain; }

.sky * .primary { background-color: rgb(30, 155, 180) !important; }
.sky > .primary { background-color: rgb(30, 155, 180) !important; }

.sky * .primary-border { border-color: rgb(245, 245, 250) !important; }

.sky * .secondary { background-color: rgb(78, 174, 193) !important; }

.sky * .font-primary { color: rgb(5, 5, 10); font-family: 'Gill Sans', 'Gill Sans MT', Calibri }
.sky > .font-primary { color: rgb(5, 5, 10); font-family: 'Gill Sans', 'Gill Sans MT', Calibri }

.sky * .font-secondary { color: rgb(245, 245, 250) !important; font-family: 'Gill Sans', 'Gill Sans MT', Calibri }
.sky > .font-secondary { color: rgb(245, 245, 250) !important; font-family: 'Gill Sans', 'Gill Sans MT', Calibri }



.space { background-color: rgb(2, 2, 3) !important; background-image: url("../images/space.png"); }

.space * .primary { background-color: rgba(2, 2, 3, 0) !important; }
.space > .primary { background-color: rgba(2, 2, 3, 0) !important; }

.space * .primary-border { border-color: rgb(245, 245, 245)!important; }

.space * .secondary { background-color: rgb(11, 11, 11) !important; }

.space * .font-primary { color: rgb(245, 245, 250); font-family: "Trispace" }
.space > .font-primary { color: rgb(245, 245, 250); font-family: "Trispace" }

.space * .font-secondary { color: rgb(245, 245, 250) !important; font-family: "Trispace" }
.space > .font-secondary { color: rgb(245, 245, 250) !important; font-family: "Trispace" }
